.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 5px;
}

.new-budget-form {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  border: 1px solid crimson;
  padding: 15px;
}
