.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 5px;
}

.new-budget-form {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  padding: 15px;
  background-color: rgb(242, 242, 242);;
}

mat-card {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
